<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Diplom.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-9O6FJAH;Initial Catalog=NBA;Integrated Security=True" />
  </connectionStrings>
</configuration>